Welcome to Median, <%= @user.name %>!
=====================================

Congratulations on joining our unique community of bloggers! We hope you're completely average. Ready to write your first post?! Click Here: www.median.com/users to get started now.

Have a radtascular day!

Heart, the Median Team