!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %h1
      Welcome to Median, #{@user.name}!
    %p
      Congratulations on joining our unique community of bloggers! We hope you're completely average. Ready to write your first post?! Click <a href="www.median.com/users">Here</a> to get started now.

    %p Have a radtascular day!
    %p Heart, the Median Team