- content_for(:page_title) do
  %h1 Welcome to Median!
  %p The world's newest Medium clone.

%h2 Our Knowledgeable Contributors:

= paginate @users

%ul.user_pagination
  - @users.each do |user|
    %li= link_to "#{user.name}'s Knowledge", user_posts_path(user)
