- content_for(:page_title) do
  %h1 #{@user.name}'s Knowledge

= paginate @posts

%ul.posts-pagination
  - @posts.each do |post|
    %li= link_to post.title, user_post_path(post.author, post)

= link_to "< All Contributors", root_path
