body {
  background-color: $light-grey;
  margin: 0;
  padding: 0 1em;
  #container {
    @include outer-container;
    nav, header, section#content, footer {
      @include span-columns(12);
    }
    nav {
      background-color: $white;
      ul {
        li {
          display: inline-block;
          a {
            color: $primary-color;
            display: block;
            padding: 0.75em 0.5em;
            &:hover {
              background-color: $primary-color;
              color: $white;
            }
          }
        }
      }
    }
    header {
      background-color: $primary-color;
      * {
        color: $light-grey;
        margin: 0;
      }
      h1 {
        color: $white;
      }
      text-align: center;
      padding: 3em;
    }
    section#content {
      background-color: $white;
      @include clearfix();
      article {
        margin: 2em;
      }
    }
    footer {
      text-align: center;
      padding: 1em;
    }
  }
}
