.profile-container {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: -75px 0 0 0;

  .gravatar {
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 1px 1px 2px #888888;
  }

  h2 {
    font-size: 50px;
    font-weight: 700;
    color: #355A52;
    margin-bottom: 0;
  }

  p {
   color: lighten(#355A52, 20%);
   font-size: 20px;
  }
}
